<?xml version="1.0" encoding="utf-8" ?>
<impact4>
<configuration>
	<display allowback="true" allowquit="false">
		<screen height="800" width="600" />
		<titlebar text="impact4 Survey" />
	</display>
	<property name="defaultModemBuffer" value="100" type="integer" />
	<property name="defaultIsdnBuffer" value="100" type="integer" />
	<property name="defaultCableBuffer" value="100" type="integer" />
	<property name="checkXMLValidity" value="true" type="boolean" />
	<property name="navType" value="full" type="string" />
	<property name="showProgressBar" value ="true" type="boolean"/>
	<property name="dumpDatabaseBeforeNavigation" value="false" type="boolean" />
	<property name="calculateProgressBar" value="true" type="boolean" />
	<property name="traceSetValue" value="true" type="boolean" />
	<property name="traceToConsole" value="false" type="boolean" />
	<property name="enableGarbageCollection" value="false" type="boolean" />
	<property name="surveyName" value="i4 Ajax Test Survey" type="string" />
	<property name="surveyPass" value="2056bcbf0ee693280292af324548b1d6" type="string" />
	<property name="runsOffline" value="false" type="boolean" />
	<property name="writeToManifest" value="true" type="boolean" />
	<property name="contactInfo" type="string" value="impact4-client"  />
	<!-- <library name="library_SoundControl" /> -->
</configuration>
<navigation>
	<group title="Untitled 1">
		<module name="vas2" type="vas" x="44" y="26" scale="100" level="1">
			<field type="integer" name="vasValue"></field>
			<const type="integer" name="initialPercent" value="50"></const>
			<const type="string" name="topAnchorText" value="Perfect Health"></const>
			<const type="string" name="bottomAnchorText" value="Death"></const>
			<const type="boolean" name="forceAnswer" value="false"></const>
		</module>
		<module type="widget_text" x="169" y="111" scale="100" level="3">
			<const type="integer" name="width" value="700"></const>
			<const type="integer" name="height" value="600"></const>
			<const type="string" name="sideToAutoSize" value="left"></const>
			<const type="string" name="textType" value="HTML"></const>
			<const type="cdata" name="textValue"><![CDATA[<font face='Arial'>Sample Text<br>Sample Text Sample Text</font>]]></const>
		</module>
	</group>
	<group title="Untitled 2">
		<module name="vas1" type="vas" x="44" y="26" scale="100" level="1">
			<field type="integer" name="vasValue"></field>
			<const type="integer" name="initialPercent" value="50"></const>
			<const type="string" name="topAnchorText" value="Perfect Health"></const>
			<const type="string" name="bottomAnchorText" value="Death"></const>
			<const type="boolean" name="forceAnswer" value="false"></const>
		</module>
		<module type="widget_text" x="169" y="111" scale="100" level="3">
			<const type="integer" name="width" value="700"></const>
			<const type="integer" name="height" value="600"></const>
			<const type="string" name="sideToAutoSize" value="left"></const>
			<const type="string" name="textType" value="HTML"></const>
			<const type="cdata" name="textValue"><![CDATA[<font face='Arial'>Sample Text<br>Sample Text Sample Text</font>]]></const>
		</module>
	</group>
	<group title="Untitled 3">
		<module name="vas3" type="vas" x="44" y="26" scale="100" level="1">
			<field type="integer" name="vasValue"></field>
			<const type="integer" name="initialPercent" value="50"></const>
			<const type="string" name="topAnchorText" value="Perfect Health"></const>
			<const type="string" name="bottomAnchorText" value="Death"></const>
			<const type="boolean" name="forceAnswer" value="false"></const>
		</module>
		<module type="widget_text" x="169" y="111" scale="100" level="3">
			<const type="integer" name="width" value="700"></const>
			<const type="integer" name="height" value="600"></const>
			<const type="string" name="sideToAutoSize" value="left"></const>
			<const type="string" name="textType" value="HTML"></const>
			<const type="cdata" name="textValue"><![CDATA[<font face='Arial'>Sample Text<br>Sample Text Sample Text</font>]]></const>
		</module>
	</group>

</navigation>
</impact4>
